@model IEnumerable<Repositorio.Models.Habitacion>

@{
    ViewData["Title"] = "Inxdex";
}
<partial name="_NavBarUsuario"/>


<div>
    <h4>Habitaciones Disponibles</h4>
    <hr />


    <div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nro Habitacion</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Reservar</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var habitacion in @Model)
                {

                <tr>
                    <th>@habitacion.NroHabitacion</th>
                    <td>@habitacion.Capacidad</td>
                    <td>@(habitacion.Estado == 1 ? "Disponible" : "Reservado")</td>
                    <td>@habitacion.Precio $</td>
                    <td>@Html.ActionLink("Editar", "Reservar", "Reservas", new{@habitacion.Id})</td>

                </tr>

                }
            </tbody>
        </table>
    </div>

    <div>

        <a asp-action="Index">Back to List</a>
    </div>

</div>
